<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Medtest_DB_Editor.Properties.Settings.Medtest_dbConnectionString1"
            connectionString="Data Source=VERDERIAN;Initial Catalog=Medtest_db;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Medtest_DB_Editor.Properties.Settings.Medtest_dbConnectionString"
            connectionString="Data Source=VERDERIAN-HOME\VERDERIAN;Initial Catalog=Medtest_db;User ID=sa;Password=12345"
            providerName="System.Data.SqlClient" />
        <add name="Medtest_DB_Editor.Properties.Settings.Medtest_dbConnectionString2"
            connectionString="Data Source=VERDERIAN-HOME;Initial Catalog=Medtest_db;User ID=sa;Password=12345"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>